.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 0.9;
}

.navbar .nav-item .nav-link {
  color: #fff;
}

.main-header {
  position: relative;
  background-color: #BA283B;
  background-size: cover;
}

.background-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control, .btn{
  border-radius: 0;
}

.team{
  background-color: #229B7F;
}

#button-up{
  width: 60px;
  height: 60px;
  background-color: #BA283B;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 200ms ease;
  transform: scale(0);
}

#button-up:hover{
  transform: scale(1.1);
  border-color: rgba(0,0,0,0.1);
}

footer {
  background: #30336b;
}

.grids{
  background-color: #0E2773;
}

.grids2{
  background-color: #1438A6;
}

.grids3{
  background-color: #1455D9;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #274B69;
}

::-webkit-scrollbar-track{
  border: 7px solid #1D3431;
  box-shadow: inset 0 0 2.5px rgba(0,0,0,0.5) ;
}

::-webkit-scrollbar-thumb{
  background-color:  #33BDA3;
  border-radius: 5px;
}

.navbar{
  background-color:#229B7F;
}

